# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
.next
out
dist
build

# Cache
.turbo
.eslintcache

# Env files
.env*

# Config files
*.config.js
*.config.mjs
*.config.ts

# Public assets
public
